.btn {
	display: inline-block;
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	padding: 18px 57px;
	border-radius: 14px;
	background: #5FA1FC;
	transition: .3s all;
	cursor: pointer;
}

.btn:hover {
	transform: scale(1.05);
}

@media screen and (max-width: 567px) {
	.btn {
		font-size: 18px;
	}
}