.mentor {
	padding-top: 100px;
	background-color: #f1f3f6;
}

.mentor .title {
	text-align: center;
	color: #9d7c7c;
	font-size: 48px;
	margin-bottom: 60px;
}

.mentor .line {
	width: 100%;
	max-width: 1360px;
	height: 2px;
	background-color: #513d3d;
	margin: 20px auto;
}